#API:
fastapi==0.78.0
pydantic==1.9.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.5
ujson==5.4.0
uvicorn[standard]==0.18.2
passlib[bcrypt]==1.7.4

# Text Analyzer
openai==0.18.0

# DBs:
sqlalchemy[asyncio]==1.4.39
asyncpg==0.26.0
neo4j==4.4.3
redis==4.3.4
aioredis==2.0.1

# CI/CD;
pytest==7.1.2
pytest-asyncio==0.18.3
httpx==0.23.0
flake8==4.0.1